mixin field(title, name, type)
	.field
		label(for=name||title) #{title}
		input(id=name||title, name=name||title, type=type||"text")

mixin button(text, action)
	button(id=action||text) #{text}

!!!
html	
	head
		title Expenses
		link(href="/style.css", rel="stylesheet", type="text/css")
		link(href="fonts.googleapis.com.css", rel="stylesheet", type="text/css")
		script(src="require_v2.1.5.min.js", data-main="app", type="text/javascript")
	body
		#viewport

		script#main-menu-template(type="text/template")
			h1 expenses
			a.button(href="#add") add expense
			a.button(href="#history/week") show this week
			a.button(href="#history/month") show this month

		script#option-template(type="text/template")
			button.option {{=it.name}}

		script#options-template(type="text/template")
			h1 select option
			#options
			mixin button("new")

		script#expense-editor-template(type="text/template")
			h1 edit expense
			mixin field("what")
			mixin field("where")
			mixin field("price", "price", "number")
			mixin button("save")
			a.button(href="#") cancel

		script#login-template(type="text/template")
			a.button(href="#signUp")
				| New in system? Sign Up!
			h1 Login to system
			form(action="/login", method="post")
				mixin field("Email", "email")
				mixin field("Password", "password", "password")
				input.button(type="submit", value="Log In")
			a.button(href="/auth/google") Login via Google

		script#sign-up-template(type="text/template")
			h1 Register in system
			mixin field("Email","email")
			mixin field("Password", "password", "password")
			a.button(href="submit") Sign Up

		script#statistics-template(type="text/template")
			#chart
			#history

		script#history-item-template(type="text/template")
			.history-entity
				.history-left-side
					.history-item {{=it.item}}
					.history-place {{=it.place}}
				.history-right-side
					.history-price {{=it.price}}

		script#history-template(type="text/template")
			h1 History

		script#empty-template(type="text/template")
			p Loading, please wait....

		script#expenses-template(type="text/template")
			h1 history
			p
				strong 
					| Total:&nbsp;
					span#total
			table
				thead
					tr
						th Item
						th Price
						th Place
						th Date
				tbody
			a.button(href="#") back

		script#expense-template(type="text/template")
			td {{=it.item}}
			td.number {{=it.price.toFixed(2)}}
			td.muted {{=it.place}}
			td.muted {{=moment(it.date).calendar()}}

		script#no-expense-template(type="text/template")
			td(colspan="4") Nothing to show yet...
